<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src="./assets/images/my-avatar.jpg" alt="FU-SHUN ZHANG" width="80" />
    </figure>

    <div class="info-content">
      <h1 class="name" data-i18n="sidebar.name">張富順</h1>

      <p class="title" data-i18n="sidebar.title">全端工程師</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span data-i18n="sidebar.showContacts">聯絡資訊</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title" data-i18n="sidebar.email">電子郵件</p>

          <a href="mailto:richard@example.com" class="contact-link">fushun891214@gmail.com</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="phone-portrait-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title" data-i18n="sidebar.phone">手機</p>

          <a href="tel:+886968733583" class="contact-link">0968733583</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title" data-i18n="sidebar.birthday">生日</p>

          <time datetime="2000-12-14">2000-12-14</time>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title" data-i18n="sidebar.location">居住地</p>

          <address data-i18n="sidebar.locationValue">新北市淡水區</address>
        </div>
      </li>
    </ul>
  </div>
</aside>
